:root {
    --main-color: rgb(238, 238, 242);
    --secondary-color: rgb(155, 159, 185);
    --fore-color: rgb(138, 82, 111);
    --hover-bg-color: rgb(252, 252, 253);
    --hover-f-color: rgb(0, 122, 204);
}

div[scope=form] {
    background-color: var(--main-color);
    box-shadow: 0px 1px 14px -2px var(--secondary-color);
    outline: 1px solid var(--secondary-color);
    border-bottom-style: solid;
    border-bottom-color: var(--main-color);
    border-top-style: solid;
    border-top-color: var(--main-color);
    border-right-style: solid;
    border-right-color: var(--main-color);
    border-left-style: solid;
    border-left-color: var(--main-color);    
}

span[scope=form-title] {
    color: var(--fore-color);
    font: 9pt "Segoe UI";
    transform: translate(0px, 25%) !important;
}

div.form-button {
    color: black !important;
}

div.form-button:hover {
    background-color: var(--hover-bg-color) !important;
    color: var(--hover-f-color) !important;
}


button {
    border: 1px solid rgb(172, 172, 172);
    background-color: rgb(236, 236, 240);
}

button:hover:not(.disabled) {
    border: 1px solid rgb(51, 153, 255);
    background-color: rgb(201, 222, 245);
}

button:active:not(.disabled) {
    border: 1px solid var(--hover-f-color);
    background-color: var(--hover-f-color);
    color:white;
}

button:focus {
    border: 1px solid rgb(51, 153, 255);
    background-color: rgb(201, 222, 245);
    outline: none;
}
